/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set body background and font styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

/* Set header styles */
header {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

header h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

header .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

header img.img-me,
header .img-me2 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

header img.img-me:hover,
header .img-me2:hover {
  transform: rotate(360deg);
}

header h3 {
  font-size: 24px;
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out;
}

header h3:hover {
  color: #ff9800;
}

header p {
  font-size: 16px;
  line-height: 1.5;
}

/* Set section styles */
section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

section ul {
  list-style-type: none;
}

section ul li {
  font-size: 16px;
  margin-bottom: 5px;
  transition: color 0.3s ease-in-out;
}

section ul li:hover {
  color: #ff9800;
}

/* Set footer styles */
footer {
  background-color: #333;
  padding: 1px;
  text-align: center;
  color: #fff;
  position:sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer h3 {
  font-size: 24px;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
}

footer h3:hover {
  color: #ff9800;
}

footer ul {
  list-style-type: none;
  margin-bottom: 10px; /* Add spacing between the footer elements */
}

footer ul li {
  display: inline-block;
  margin-right: 10px;
}

footer ul li a button {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

footer ul li a button:hover {
  background-color: #0056b3;
}

  





  
